

#cont1{
	border:2px solid black;
	background-size: cover;
	text-align: center;
	height: 500px;
	background-image:url("/home/faith/Desktop/website/desanifinal/assets/backgrounds/h_img.jpg");
}
#cont2{
	border:2px solid black;
	text-align: center;
	background-color: #F8F8FF;
	vertical-align: center;

}
#cont2 h2{
	font-size: 32px;
}
#cont2 p{
	font-size: 12px;
	color:black;
}
#cont3{
	border:2px solid black;
	background-size: cover;
	background-image:url("/home/faith/Desktop/website/desanifinal/assets/backgrounds/s_image.jpg");	
}
#cont3{	
	text-align: center;

}
#cont3 h3{
font-size: 32px;
color: #FFFFFF
}
#cont3 p{
	font-size: 12px;
	color: #FFFFFF
}
#cont4{
	border:2px solid black;
	text-align: center;
	vertical-align: center;
	
}
#cont5{
	border:2px solid black;	
	width:80%;
}

}
#cont6{
	background-image:url("/home/faith/Desktop/website/desanifinal/assets/backgrounds/c_image.jpg");
	border:2px solid black;
	width: 100%;
	height:100%;
	background-size: cover;
	
}
#cont6 h8{
		font-size: 25px;
		color: #FFFFFF;
		
	}
	
	.footer{
	border:2px solid black;
background-color: #FFFFFF;
text-align: center;

}
#cont7{
	text-align: center;
}

